<div xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<f:layout name="ContentDefault" />

	<f:section name="Configuration">
		<flux:form id="image">
			<f:render partial="Content/Properties/Header" arguments="{_all}" />
			<f:render partial="Content/Properties/Container" arguments="{_all}" />
			<f:render partial="Content/Properties/Images" arguments="{_all}" />
		</flux:form>
	</f:section>

	<f:section name="Preview">
		<div style="margin-top: 10px">
			<v:resource.record.fal record="{record}" field="image" table="tt_content" as="images">
				<f:for each="{images}" as="image" iteration="iteration">
					<v:media.image src="{image.uid}" treatIdAsReference="TRUE" alt="{image.id}" height="50" style="height: auto; max-width: 100%;" />
				</f:for>
			</v:resource.record.fal>
		</div>
	</f:section>

	<f:section name="Main">
		<f:if condition="{settings.lightbox}"><div class="lightbox-gallery"></f:if>
			<div class="row image-position-{positionclass}">
				<v:resource.record.fal record="{record}" field="image" table="tt_content" as="images">
					<f:for each="{images}" as="image" iteration="iteration">
						<v:switch value="{settings.cols}">
							<v:case case="1" break="TRUE">
								<div class="col-md-12">
									<v:tag name="{settings.caption.tagName}">
										<f:render partial="Content/Image" arguments="{_all}" />
										<flux:content.render area="content{image.checksum}" />
									</v:tag>
								</div>
							</v:case>
							<v:case case="2" break="TRUE">
								<div class="col-md-6">
									<v:tag name="{settings.caption.tagName}">
										<f:render partial="Content/Image" arguments="{_all}" />
										<flux:content.render area="content{image.checksum}" />
									</v:tag>
								</div>
							</v:case>
							<v:case case="3" break="TRUE">
								<div class="col-md-4">
									<v:tag name="{settings.caption.tagName}">
										<f:render partial="Content/Image" arguments="{_all}" />
										<flux:content.render area="content{image.checksum}" />
									</v:tag>
								</div>
							</v:case>
							<v:case case="4" break="TRUE">
								<div class="col-md-3">
									<v:tag name="{settings.caption.tagName}">
										<f:render partial="Content/Image" arguments="{_all}" />
										<flux:content.render area="content{image.checksum}" />
									</v:tag>
								</div>
							</v:case>
							<v:case case="5" break="TRUE">
								<div class="col-md-2">
									<v:tag name="{settings.caption.tagName}">
										<f:render partial="Content/Image" arguments="{_all}" />
										<flux:content.render area="content{image.checksum}" />
									</v:tag>
								</div>
							</v:case>
							<v:case case="6" break="TRUE">
								<div class="col-md-1">
									<v:tag name="{settings.caption.tagName}">
										<f:render partial="Content/Image" arguments="{_all}" />
										<flux:content.render area="content{image.checksum}" />
									</v:tag>
								</div>
							</v:case>
						</v:switch>
					</f:for>
				</v:resource.record.fal>
			</div>
		<f:if condition="{settings.lightbox}"></div></f:if>

	</f:section>

</div>
