<div xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<f:layout name="ContentDefault" />

	<f:section name="Configuration">
		<flux:form id="menu">
			<f:render partial="Content/Properties/Header" arguments="{_all}" />
			<f:render partial="Content/Properties/Container" arguments="{_all}" />
			<f:if condition="{menuPartialTemplateName}">
				<f:render partial="Content/Properties/Menu/{menuPartialTemplateName}" optional="TRUE" arguments="{_all}" />
			</f:if>
		</flux:form>
	</f:section>

	<f:section name="Preview" />

	<f:section name="Main">
		<f:render partial="Content/Menu/{menuPartialTemplateName}" section="Main" arguments="{_all}" />
	</f:section>

</div>
