<div xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<f:layout name="PageDefault" />

	<f:section name="Configuration">
		{v:variable.typoscript(path: 'plugin.tx_mooxcore.settings') -> v:variable.set(name: 'settings' )}
		<flux:form id="blank" label="LLL:flux.form.label.blank" options="{icon: '../typo3conf/ext/moox_core/Resources/Public/Icons/PageTemplates/Default/blank.png'}" variables="{templateLayout: 'Blank'}"  enabled="{settings.enableBlankTemplate}">
			<f:render partial="Page/Configuration/FluxFormProperties" section="MooxPageProperties" arguments="{_all}" />
			<flux:grid>
				<flux:grid.row>
					<flux:grid.column colPos="0" name="Main Content" label="LLL:flux.form.grid.column.mainContent" />
				</flux:grid.row>
			</flux:grid>
		</flux:form>
	</f:section>

	<f:section name="Content">
		<v:content.render column="0" />
	</f:section>

</div>
