<div xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<f:layout name="PageDefault" />
	
	<f:section name="Configuration">
		{v:variable.typoscript(path: 'plugin.tx_mooxcore.settings') -> v:variable.set(name: 'settings' )}
		<flux:form id="error" label="Error page" enabled="FALSE" />
	</f:section>

	<f:section name="Preview"></f:section>

	<f:section name="Content">
		<div class="container">
			<div class="alert alert-error">
				<h1>Error while rendering page</h1>

				<p>There was an error rendering the requested page. If the error persists please contact the web master.</p>
				<f:for each="{errors}" as="error" iteration="iteration">
					<p>{iteration.cycle}. {error.message} (code {error.code})</p>
				</f:for>
			</div>
		</div>
	</f:section>
	
</div>
