/****************************************************************************************
# Default css file for content edited with htmlArea RTE
#
# Defines a few class selectors that can be simply taken as examples by anyone who needs to configure the RTE.
# This css file is referenced by property RTE.default.contentCSS in the default configuration of htmlArea RTE.
# ***************************************************************************************/

/* Left, center, right and justify alignment of text in block elements*/
p.align-left, td.align-left, th.align-left, h1.align-left, h2.align-left, h3.align-left, h4.align-left, h5.align-left, h6.align-left, div.align-left, address.align-left { text-align: left; }
p.align-center, td.align-center, th.align-center, h1.align-center, h2.align-center, h3.align-center, h4.align-center, h5.align-center, h6.align-center, div.align-center, address.align-center { text-align: center; }
p.align-right, td.align-right, th.align-right, h1.align-right, h2.align-right, h3.align-right, h4.align-right, h5.align-right, h6.align-right, div.align-right, address.align-right { text-align: right; }
p.align-justify, td.align-justify, th.align-justify, h1.align-justify, h2.align-justify, h3.align-justify, h4.align-justify, h5.align-justify, h6.align-justify, div.align-justify, address.align-justify { text-align: justify; }

/* Two frame examples taken from the example CSS file of CSS Styled Content extension and applied to p and table block elements.*/
p.csc-frame-frame1, table.csc-frame-frame1 { background-color: #EDEBF1; padding: 2px 4px 2px 4px; border: 1px solid #333333; }
p.csc-frame-frame2, table.csc-frame-frame2 { background-color: #F5FFAA; padding: 2px 4px 2px 4px; border: 1px solid #333333; }

/* Bullet styles for unordered lists.*/
ul.component-items { color: @brand-success; list-style-type: circle; }
ul.action-items { color: @brand-danger; list-style-image: url(/typo3/sysext/rtehtmlarea/Resources/Public/Images/red_arrow_bullet.png); }

/* Numbering styles for ordered lists.*/
ol.component-items-ordered { color: @brand-primary; list-style-type: lower-roman; }
ol.action-items-ordered { color: @brand-danger; list-style-type: lower-greek; }

/* Three inline text colors taken from the color scheme of CSS Styled Content extension.*/
span.important { color: @brand-danger; }
span.name-of-person { color: @brand-primary; }
span.detail { color: @brand-success; }

/* Selectors for the default configuration of the link accessibity feature.*/
a.external-link {}
a.external-link-new-window {}
a.internal-link {}
a.internal-link-new-window {}
a.download {}
a.mail {}

/* Default selector for indentation.*/
div.indent { margin-left: 2em; }

/****************************************************************************************
# MOOX Style Rules
# ***************************************************************************************/

/*IE8 FIX*/
img {width: auto; height: auto;}

/* SPACING TYPES */
.top-space-small {
    margin-top: @top-space-small;
}
.top-space-base {
    margin-top: @top-space-base;
}
.top-space-large {
    margin-top: @top-space-large;
}
.bottom-space-small {
    margin-bottom: @bottom-space-small;
}
.bottom-space-base {
    margin-bottom: @bottom-space-base;
}
.bottom-space-large {
    margin-bottom: @bottom-space-large;
}

/* IMAGE STYLES */
.img-grayscale
{
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
}

/* IMAGE POSITIONS */
.image-position-left figure img
{
    float: left;
    clear: both;
}
.image-position-left figcaption
{
    float: left;
    margin: 0 0 0 0;
    clear: both;
}
.image-position-center figure img
{
    margin: 0 auto;
    clear: both;
    display: block;
}
.image-position-center figcaption
{
    margin: 0 auto;
    clear: both;
}
.image-position-right figure img
{
    float: right;
    clear: both;
}
.image-position-right figcaption
{
    float: right;
    margin: 0 0 0 0;
    clear: both;
}

.image {
	display: block;
	margin-bottom: @line-height-computed;
	line-height: @line-height-base;

	> img,
	a > img {
		display: block;
		max-width: 100%;
		height: auto;
		@media (max-width: @screen-xs-max) {
			margin: 0 auto;
		}
	}

	.caption {
		padding: @thumbnail-caption-padding;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0;
	}
}
.image-row {
	.make-row();
}
.image-column {
	max-width: 100%;
	position: relative;
	min-height: 1px;
	padding-left:  (@grid-gutter-width / 2);
	padding-right: (@grid-gutter-width / 2);
	@media (min-width: @screen-md-min) {
		float: left;
	}
}
.image-wrap {
	max-width: 100%;
}
.image-below {
	.image-wrap {
		margin-top: @line-height-computed;
	}
}
.image-center .image > img {
	margin: 0 auto;
}
.image-center-outer {
	width: 100%;
	position: relative;
	float: right;
	right: 50%;
}
.image-center-inner {
	width: 100%;
	position: relative;
	float: right;
	right: -50%;
}
.image-left {
	.image-wrap {
		float: left;
	}
	.text {
		clear: left;
	}
}
.image-right {
	.image-wrap {
		float: right;
	}
	.text {
		clear: right;
	}
}
.image-wrap,
.image-below,
.image-above,
.image-beside,
.image-intext {
	.clearfix();
}
.image-beside-left .image-wrap,
.image-intext-left .image-wrap {
	float: left;
	margin-left: -1 * (@grid-gutter-width / 2);
}
.image-beside-right .image-wrap,
.image-intext-right .image-wrap {
	float: right;
	margin-right: -1 * (@grid-gutter-width / 2);
}
.image-beside-left .image-wrap,
.image-beside-right .image-wrap,
.image-intext-left .image-wrap,
.image-intext-right .image-wrap {
	max-width: 50%;
	padding-left:  (@grid-gutter-width / 2);
	padding-right: (@grid-gutter-width / 2);
}
.image-beside-right,
.image-beside-left {
	overflow: hidden;
	zoom: 1;
	.text {
		overflow: hidden;
		zoom: 1;
	}
	@media (max-width: @screen-xs-max) {
		.image-wrap {
			margin-left: -1 * (@grid-gutter-width / 2);
			margin-right: -1 * (@grid-gutter-width / 2);
			max-width: none;
			float: none;
		}
	}
}
.image-header-1,
.image-header-2,
.image-header-3  {
	.image-wrap {
		margin-top: @line-height-computed;
	}
}
.image-header-4,
.image-header-5,
.image-header-6  {
	.image-wrap {
		margin-top: (@line-height-computed / 2);
	}
}


/* IMAGE CAPTION POSITIONS */
.caption-position-left
{
    text-align: left;
}
.caption-position-center
{
    text-align: center;
}
.caption-position-right
{
    text-align: right;
}


/* COOKIE ALERT BOX */
.alert-cookie
{
    position: fixed;
    width: 100%;
    z-index: 9999;
    margin: 0 0 0 0;
    border-radius: 0px;
}
.cookie-accept
{
    font-size: 13px;
    line-height: 21px;
}
.cookie-link-to-page
{
    font-size: 13px;
    line-height: 21px;
    margin-right: 20px;
}
.cookie-alert-box-position-top
{
    top: 0;
}
.cookie-alert-box-position-bottom
{
    bottom: 0;
}

/* RESPONSIVE VIDEO */
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.video-container iframe, .video-container object, .video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}



/********************************************************
* MEDIA QUERIES */

/* EXTRA SMALL DEVICES */
@media (max-width : 767px)
{
    /* TEXT WITH IMAGE */
    .media-body    {width: 100%;}
}

/* SMALL DEVICES */
@media (min-width : 768px) and (max-width : 991px)
{

}

/* MEDIUM DEVICES */
@media (min-width : 992px) and (max-width : 1199px)
{

}

/* LARGE SCREENS*/
@media (min-width: 1200px) and (max-width: 1499px) {

}

/* EXTRA SMALL DEVICES UP TO SMALL DEVICES */
@media (max-width : 991px)
{

}

/* EXTRA SMALL DEVICES UP TO MEDIUM DEVICES */
@media (max-width : 1199px)
{

}

/* EXTRA SMALL DEVICES UP TO LARGE SCREENS */
@media (max-width : 1499px)
{

}