<div xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

    <f:section name="MooxMetaFavicons">
        <v:page.header.meta name="msapplication-TileImage" content="{v:site.url()}{settings.pathToFaviconsFolder}/mstile-144x144.png" />
        <v:page.header.meta name="msapplication-config" content="{v:site.url()}{settings.pathToFaviconsFolder}/browserconfig.xml" />
        <v:page.header.meta additionalAttributes="{property: 'og:image'}" content="{v:site.url()}{settings.pathToFaviconsFolder}/mstile-144x144.png" />
        <v:page.header.link rel="shortcut icon" href="{v:site.url()}{settings.pathToFaviconsFolder}/favicon.ico" />
        <v:page.header.link rel="apple-touch-icon" additionalAttributes="{sizes: '57x57'}" href="{v:site.url()}{settings.pathToFaviconsFolder}/apple-touch-icon-57x57.png" />
        <v:page.header.link rel="apple-touch-icon" additionalAttributes="{sizes: '114x114'}" href="{v:site.url()}{settings.pathToFaviconsFolder}/apple-touch-icon-114x114.png" />
        <v:page.header.link rel="apple-touch-icon" additionalAttributes="{sizes: '72x72'}" href="{v:site.url()}{settings.pathToFaviconsFolder}/apple-touch-icon-72x72.png" />
        <v:page.header.link rel="apple-touch-icon" additionalAttributes="{sizes: '144x144'}" href="{v:site.url()}{settings.pathToFaviconsFolder}/apple-touch-icon-144x144.png" />
        <v:page.header.link rel="apple-touch-icon" additionalAttributes="{sizes: '60x60'}" href="{v:site.url()}{settings.pathToFaviconsFolder}/apple-touch-icon-60x60.png" />
        <v:page.header.link rel="apple-touch-icon" additionalAttributes="{sizes: '120x120'}" href="{v:site.url()}{settings.pathToFaviconsFolder}/apple-touch-icon-120x120.png" />
        <v:page.header.link rel="apple-touch-icon" additionalAttributes="{sizes: '76x76'}" href="{v:site.url()}{settings.pathToFaviconsFolder}/apple-touch-icon-76x76.png" />
        <v:page.header.link rel="apple-touch-icon" additionalAttributes="{sizes: '152x152'}" href="{v:site.url()}{settings.pathToFaviconsFolder}/apple-touch-icon-152x152.png" />
        <v:page.header.link rel="icon" type="image/png" href="{v:site.url()}{settings.pathToFaviconsFolder}/favicon-196x196.png" additionalAttributes="{sizes: '196x196'}" />
        <v:page.header.link rel="icon" type="image/png" href="{v:site.url()}{settings.pathToFaviconsFolder}/favicon-160x160.png" additionalAttributes="{sizes: '160x160'}" />
        <v:page.header.link rel="icon" type="image/png" href="{v:site.url()}{settings.pathToFaviconsFolder}/favicon-96x96.png" additionalAttributes="{sizes: '96x96'}" />
        <v:page.header.link rel="icon" type="image/png" href="{v:site.url()}{settings.pathToFaviconsFolder}/favicon-16x16.png" additionalAttributes="{sizes: '16x16'}" />
        <v:page.header.link rel="icon" type="image/png" href="{v:site.url()}{settings.pathToFaviconsFolder}/favicon-32x32.png" additionalAttributes="{sizes: '32x32'}" />
    </f:section>

</div>