{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="AdministrationDashboard" />

{v:variable.typoscript(path: 'plugin.tx_mooxcore.settings') -> v:variable.set(name: 'settings' )}

<f:be.container pageTitle="MOOX Dashboard" loadExtJs="FALSE" loadExtJsTheme="FALSE" loadJQuery="true"
                includeCssFiles="{0: '{f:uri.resource(path:\'Stylesheets/dashboard/bootstrap.min.css\')}', 1: '{f:uri.resource(path:\'Stylesheets/dashboard/administration-dashboard-style.css\')}'}">
    
    <div class="mod-administration-dashboard">
        <f:render section="main" />
    </div>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</f:be.container>