{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="ContentNoHeader" />

<f:if condition="{settings.content.settings.container.addAnchor}">
	<a name="c{record.uid}" class="moox-anchor"></a>
</f:if>
<v:variable.set name="mooxWowAnimate">
	<f:if condition="{settings.container.enableAnimation}">
		<f:if condition="{settings.content.settings.container.animateClass} != ''">
			<f:if condition="{settings.content.settings.container.animateClass} != 'none'"> wow {settings.content.settings.container.animateClass}</f:if>
		</f:if>
	</f:if>
</v:variable.set>
<v:tag name="{v:variable.get(name: 'settings.container.types.{record.CType}') -> v:or(alternative: settings.container.types.default)}"
		 class="{settings.content.settings.container.className} {settings.content.settings.container.spacingName}{mooxWowAnimate}">

	<f:if condition="{record.tx_mooxcore_hide_desktop} == '1'">
		<div class="hidden-lg">
	</f:if>
	<f:if condition="{record.tx_mooxcore_hide_laptop} == '1'">
		<div class="hidden-md">
	</f:if>
	<f:if condition="{record.tx_mooxcore_hide_tablet} == '1'">
		<div class="hidden-sm">
	</f:if>
	<f:if condition="{record.tx_mooxcore_hide_phone} == '1'">
		<div class="hidden-xs">
	</f:if>
	<f:if condition="{record.tx_mooxcore_hide_print} == '1'">
		<div class="hidden-print">
	</f:if>
	<f:if condition="{record.tx_mooxcore_hide_barrierfree} == '1'">
		<div class="hidden-barrierfree">
	</f:if>
	<f:if condition="{record.tx_mooxcore_hide_oldbrowser} == '1'">
		<div class="hidden-oldbrowser">
	</f:if>

	<f:render section="Main" />

	<f:if condition="{record.tx_mooxcore_hide_oldbrowser} == '1'">
		</div>
	</f:if>
	<f:if condition="{record.tx_mooxcore_hide_barrierfree} == '1'">
		</div>
	</f:if>
	<f:if condition="{record.tx_mooxcore_hide_print} == '1'">
		</div>
	</f:if>
	<f:if condition="{record.tx_mooxcore_hide_phone} == '1'">
		</div>
	</f:if>
	<f:if condition="{record.tx_mooxcore_hide_tablet} == '1'">
		</div>
	</f:if>
	<f:if condition="{record.tx_mooxcore_hide_laptop} == '1'">
		</div>
	</f:if>
	<f:if condition="{record.tx_mooxcore_hide_desktop} == '1'">
		</div>
	</f:if>

</v:tag>
