{namespace v=Tx_Vhs_ViewHelpers}
<f:layout name="DefaultPage" />

<f:render section="Resources" optional="TRUE" arguments="{_all}" />
<v:asset.style name="template-css" group="template" path="typo3conf/ext/moox_core/Resources/Public/Stylesheets/starter-template.css" external="TRUE" standalone="TRUE" />


<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<f:render section="Navigation" partial="PageObjects" arguments="{_all}" />
</div>
<div class="container">
	<!--TYPO3SEARCH_begin-->
	<div class="starter-template">
		<f:render section="Content" />
	</div>
	<!--TYPO3SEARCH_end-->
</div>
<f:debug title="Debug of MyArray">{_all}</f:debug>