{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace flux=FluidTYPO3\Flux\ViewHelpers}

<f:layout name="DefaultPage" />

{v:variable.typoscript(path: 'plugin.tx_mooxcore.settings') -> v:variable.set(name: 'settings' )}

<f:render section="MooxMetaTags" partial="PageObjects" arguments="{_all}" />
<f:render section="MooxHeadSection" partial="PageObjects" arguments="{_all}" />

<v:asset.style name="template-css" group="template" path="typo3conf/ext/moox_core/Resources/Public/Stylesheets/starter-template.css" external="TRUE" standalone="TRUE" />

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<f:render section="MooxNavigation" partial="PageObjects" arguments="{_all}" />
</div>

<div class="container">
	<!--TYPO3SEARCH_begin-->
	<div class="starter-template">
		<f:render section="Content" />
	</div>
	<!--TYPO3SEARCH_end-->
</div>

<f:render section="MooxFooterSection" partial="PageObjects" arguments="{_all}" />