.tx-indexedsearch {
  .tx-indexedsearch-search-buttons {
    .btn-default-bootstrap-style > a {
      .btn();
      .btn-default();
      text-decoration: none;
    }
  }
  .tx-indexedsearch-whatis
  {
    .tx-indexedsearch-sw {
      font-weight: bold;
    }
  }
  .tx-indexedsearch-title a {
    color: #fff;
    text-decoration: none;
  }
  .tx-indexedsearch-descr {
    .tx-indexedsearch-redMarkup {
      font-weight: normal;
      .mark();
    }
  }
  .browsebox {
    .pagination();
    .tx-indexedsearch-browselist-currentPage {
      strong {
        position: relative;
        float: left;
        padding: 6px 12px;
        line-height: 1.42857143;
        text-decoration: none;
        font-weight: normal;
        background-color: @brand-primary;
        border: 1px solid @brand-primary;
        a {
          z-index: 3;
          color: #fff;
          cursor: default;
          background-color: @brand-primary;
          border-color: @brand-primary;
          text-decoration: none;
        }
      }
    }
  }
}