<div xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

    <f:section name="MooxTeaser">
        <f:if condition="{teaserWidthContent}">
            <f:then>
                <v:variable.set name="teaserContainerClass" value="container-fullwidth" />
            </f:then>
            <f:else>
                <v:variable.set name="teaserContainerClass" value="container-fluid" />
            </f:else>
        </f:if>
        <f:render partial="Page/Teaser/Variants/{settings.teaserVariantPartial}" section="MooxTeaser" arguments="{_all}" />
    </f:section>

</div>