.moox-metanavi-ul {
  &.nav-pills {
    > li {
      > a {
        &:hover,
        &:focus {
          color: @link-hover-color;
          background-color: transparent;
        }
      }
      &.active > a {
        &,
        &:hover,
        &:focus {
          color: @link-hover-color;
          background-color: transparent;
        }
      }
    }
  }
}