<div xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers" flux:schemaLocation="http://fluidtypo3.org/schemas/flux-development.xsd"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" flux:schemaLocation="http://fluidtypo3.org/schemas/vhs-development.xsd"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers" f:schemaLocation="http://fluidtypo3.org/schemas/fluid-master.xsd">

<flux:form.sheet name="media" label="LLL:sheets.media" extensionName="DCNGmbH.MooxCore">
	<flux:field.select name="settings.media.positionclass" label="LLL:fields.mediaTextPositionClass" items="{top: 'top', bottom: 'bottom'}" default="top" />
	<flux:field.checkbox name="settings.media.autoplay" label="LLL:fields.mediaAutoplay" />
	<flux:field.checkbox name="settings.media.preload" label="LLL:fields.mediaPreload" />
	<flux:field.checkbox name="settings.media.loop" label="LLL:fields.mediaLoop" />
	<flux:field.checkbox name="settings.media.controls" label="LLL:fields.mediaControls" />
	<flux:field.file name="settings.media.poster" label="LLL:fields.mediaPoster" multiple="FALSE" allowed="jpg,jpeg,png,gif" showThumbnails="TRUE" />
</flux:form.sheet>

</div>
