{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:if condition="{image.description}">
	<v:asset.script name="img-description{record.uid}{image.uid}" dependencies="{settings.extKey}_js" group="moox" standalone="FALSE" allowMoveToFooter="TRUE">			
		<![CDATA[
		$(window).load(function(){
			$('#figcaption]]>{record.uid}{image.uid}<![CDATA[').css({'width':$('#image]]>{record.uid}{image.uid}<![CDATA[').width()});
		});
		$(window).resize(function(){
			$('#figcaption]]>{record.uid}{image.uid}<![CDATA[').css({'width':$('#image]]>{record.uid}{image.uid}<![CDATA[').width()});
		});]]>
	</v:asset.script>
</f:if>

<f:section name="image">
	<f:if condition="{settings.directInclusion}">
		<f:then>
			<v:variable.set name="image1200Src" value="{v:uri.image(src: image.uid, treatIdAsReference: 1, maxW: 1200)}" />
			<v:variable.set name="image992Src" value="{v:uri.image(src: image.uid, treatIdAsReference: 1, maxW: 992)}" />
			<v:variable.set name="image768Src" value="{v:uri.image(src: image.uid, treatIdAsReference: 1, maxW: 768)}" />
			<v:variable.set name="image480Src" value="{v:uri.image(src: image.uid, treatIdAsReference: 1, maxW: 480)}" />
			<v:variable.set name="image400Src" value="{v:uri.image(src: image.uid, treatIdAsReference: 1, maxW: 400)}" />
			<v:variable.set name="image320Src" value="{v:uri.image(src: image.uid, treatIdAsReference: 1, maxW: 320)}" />
			<figure class="image">
				<picture>
					<!--[if IE 9]><video style="display: none;"><![endif]-->
					<source srcset="{v:uri.image(src: image.uid, treatIdAsReference: 1)}" media="(min-width: 1200px)">
					<source srcset="{image1200Src}" media="(min-width: 992px)">
					<source srcset="{image992Src}" media="(min-width: 768px)">
					<source srcset="{image768Src}" media="(min-width: 480px)">
					<source srcset="{image480Src}" media="(min-width: 400px)">
					<source srcset="{image400Src}" media="(min-width: 320px)">
					<!--[if IE 9]></video><![endif]-->
					<img srcset="{image320Src}" title="{image.title}" alt="{f:if(condition: image.alternative, then: image.alternative, else: image.name)}" class="img-responsive {settings.image.className -> v:format.replace(substring: ',', replacement: ' ')}" id="image{record.uid}{image.uid}">
				</picture>
				<f:if condition="{image.description}"><figcaption id="figcaption{record.uid}{image.uid}" class="caption-position-{captionpositionclass}"><f:format.html>{image.description}</f:format.html></figcaption></f:if>
			</figure>
		</f:then>
		<f:else>
			<figure class="image">
				<v:media.image src="{image.uid}" treatIdAsReference="TRUE" title="{image.title}" alt="{f:if(condition: image.alternative, then: image.alternative, else: image.name)}"
					 width="{record.imagewidth -> v:or(alternative: '-1')}{f:if(condition: record.imagewidth, then: settings.scaleMode)}"
					 height="{record.imageheight -> v:or(alternative: '-1')}{f:if(condition: record.imageheight, then: settings.scaleMode)}" class="{settings.image.className -> v:format.replace(substring: ',', replacement: ' ')}" id="image{record.uid}{image.uid}" />
				<f:if condition="{image.description}"><figcaption id="figcaption{record.uid}{image.uid}" class="caption-position-{captionpositionclass}"><f:format.html>{image.description}</f:format.html></figcaption></f:if>
			</figure>
		</f:else>
	</f:if>
</f:section>	
		
<f:if condition="{settings.lightbox}">
	<f:then>
		<a class="image-lightbox" href="{image.url}" relative="1" title="{image.title}">
			<f:render section="image" arguments="{_all}" />
		</a>
	</f:then>
	<f:else>
		<f:if condition="{image.link}">
			<f:then>
				<v:link.typolink configuration="{parameter: image.link}">
					<f:render section="image" arguments="{_all}" />
				</v:link.typolink>
			</f:then>
			<f:else>
				<f:render section="image" arguments="{_all}" />
			</f:else>
		</f:if>
	</f:else>
</f:if>
