{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Default" />

<div xmlns="http://www.w3.org/1999/xhtml"
	 xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
	 xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:section name="Configuration">
		<flux:form id="addresses" options="{group: 'Bootstrap', icon: '../../../../typo3conf/ext/moox_core/Resources/Public/Icons/bootstrap/icon-accordion.png'}">
			<flux:field.input name="addressname" />
			<flux:form.section name="addressitems">
				<flux:form.object name="addresscolsobj">
					<flux:field.checkbox name="addressicon" />
					<flux:field.input name="addresscolinput" />
				</flux:form.object>
				<flux:form.object name="addressitemphone">
					<flux:field.checkbox name="phoneicon" />
					<flux:field.input name="phoneabbr" />
					<flux:field.input name="phoneabbrtitle" />
					<flux:field.input name="phonecontent" />
				</flux:form.object>
				<flux:form.object name="addressitemmobile">
					<flux:field.checkbox name="mobileicon" />
					<flux:field.input name="mobileabbr" />
					<flux:field.input name="mobileabbrtitle" />
					<flux:field.input name="mobilecontent" />
				</flux:form.object>
				<flux:form.object name="addressitemfax">
					<flux:field.checkbox name="faxicon" />
					<flux:field.input name="faxabbr" />
					<flux:field.input name="faxabbrtitle" />
					<flux:field.input name="faxcontent" />
				</flux:form.object>
				<flux:form.object name="addressitemmail">
					<flux:field.checkbox name="mailicon" />
					<flux:field.input name="mailabbr" />
					<flux:field.input name="mailabbrtitle" />
					<flux:field.input name="mail" />
				</flux:form.object>
				<flux:form.object name="addressitemwebsite">
					<flux:field.checkbox name="websiteicon" />
					<flux:field.input name="websiteabbr" />
					<flux:field.input name="websiteabbrtitle" />
					<flux:field.input name="website" />
				</flux:form.object>
			</flux:form.section>
		</flux:form>
	</f:section>

	<f:section name="Preview">
		<strong>Addresses:</strong>{addressname}
		<flux:widget.grid />
	</f:section>

	<f:section name="Main">
		<address>
			<strong>{addressname}</strong>
			<f:for each="{addressitems}" as="type" iteration="iteration">
				<f:for each="{type}" key="elementType" as="elementData">
					<f:render section="{elementType -> v:format.case(case: 'ucfirst')}" arguments="{_all}" />
				</f:for>
			</f:for>
		</address>
	</f:section>


	<f:section name="Addresscolsobj">
		<div class="addresscol.{iteration.cycle}"><f:if condition="{elementData.addressicon}"><span class="{settings.address.addressIcon}"></span>&nbsp;</f:if>{elementData.addresscolinput}</div>
	</f:section>

	<f:section name="Addressitemphone">
		<div class="address-phone"><f:if condition="{elementData.phoneabbrtitle}"><abbr title="{elementData.phoneabbrtitle}"></f:if><f:if condition="{elementData.phoneicon}"><span class="{settings.address.phoneIcon}"></span>&nbsp;</f:if>{elementData.phoneabbr}<f:if condition="{elementData.phoneabbrtitle}"></abbr></f:if><f:if condition="{elementData.phoneabbr}">&nbsp;&nbsp;</f:if><a href="phoneto:{elementData.phonecontent}">{elementData.phonecontent}</a></div>
	</f:section>

	<f:section name="Addressitemmobile">
		<div class="address-mobile"><f:if condition="{elementData.mobileabbrtitle}"><abbr title="{elementData.mobileabbrtitle}"></f:if><f:if condition="{elementData.mobileicon}"><span class="{settings.address.mobileIcon}"></span>&nbsp;</f:if>{elementData.mobileabbr}<f:if condition="{elementData.mobileabbrtitle}"></abbr></f:if><f:if condition="{elementData.mobileabbr}">&nbsp;&nbsp;</f:if><a href="phoneto:{elementData.mobilecontent}">{elementData.mobilecontent}</a></div>
	</f:section>

	<f:section name="Addressitemfax">
		<div class="address-fax"><f:if condition="{elementData.faxabbrtitle}"><abbr title="{elementData.faxabbrtitle}"></f:if><f:if condition="{elementData.faxicon}"><span class="{settings.address.faxIcon}"></span>&nbsp;</f:if>{elementData.faxabbr}<f:if condition="{elementData.faxabbrtitle}"></abbr></f:if><f:if condition="{elementData.faxabbr}">&nbsp;&nbsp;</f:if>{elementData.faxcontent}</div>
	</f:section>

	<f:section name="Addressitemmail">
		<div class="address-mail"><f:if condition="{elementData.mailabbrtitle}"><abbr title="{elementData.mailabbrtitle}"></f:if><f:if condition="{elementData.mailicon}"><span class="{settings.address.emailIcon}"></span>&nbsp;</f:if>{elementData.mailabbr}<f:if condition="{elementData.mailabbrtitle}"></abbr></f:if><f:if condition="{elementData.mailabbr}">&nbsp;&nbsp;</f:if><v:link.typolink configuration="{parameter: elementData.mail}">{elementData.mail}</v:link.typolink></div>
	</f:section>

	<f:section name="Addressitemwebsite">
		<div class="address-website"><f:if condition="{elementData.websiteabbrtitle}"><abbr title="{elementData.websiteabbrtitle}"></f:if><f:if condition="{elementData.websiteicon}"><span class="{settings.address.websiteIcon}"></span>&nbsp;</f:if>{elementData.websiteabbr}<f:if condition="{elementData.websiteabbrtitle}"></abbr></f:if><f:if condition="{elementData.websiteabbr}">&nbsp;&nbsp;</f:if><a href="{elementData.website}" target="_blank">{elementData.website -> v:format.eliminate(characters: 'http://') -> v:format.eliminate(characters: 'https://')}</a></div>
	</f:section>
</div>
