<div xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<f:layout name="ContentDefault" />

	<f:section name="Configuration">
		<flux:form id="alert" options="{group: 'Bootstrap', icon: '{f:uri.resource(path: \'Icons/bootstrap/icon-alert.png\')}'}">
			<flux:field.input name="header" />
			<flux:field.input name="closeLinkText" />
			<flux:field.select name="class" items="info,success,warning,danger" default="info" />
			<flux:form.content name="content" />
		</flux:form>
	</f:section>

	<f:section name="Preview">
		<flux:widget.grid />
	</f:section>

	<f:section name="Main">
		<div class="alert alert-{class}">
			<f:if condition="{closeLinkText}">
				<a class="close" data-dismiss="alert">
					<f:format.raw>{closeLinkText}</f:format.raw>
				</a>
			</f:if>
			<f:if condition="{header}">
				<h4 class="alert-heading">{header}</h4>
			</f:if>
			<flux:content.render area="content" />
		</div>
	</f:section>
</div>
